{{- define "store" }}
{{ $label := printf "%s.%s" .Name .Stack }}
{{ with .Metadata.GetValue "fluentd" }}
{{ with .global }}
{{- if isJSONArray . }}
{{ range $i, $e := . }}
  <store>
    <buffer>
      @type file
      path /var/log/fluent/{{ $label }}.*
      total_limit_size 8GB
      flush_at_shutdown true
      flush_interval 30s
      retry_max_interval 5m
    </buffer>
  {{- range $key, $value := $e }}
  {{ if eq $key "type" }}  @type {{ $value }}{{ else }}  {{ $key }} {{ $value }}{{ end }}
  {{- end }}
  </store>
  {{- end }}
  {{ else if isJSONObject . }}
  <store>
    <buffer>
      @type file
      path /var/log/fluent/{{ $label }}.*
      total_limit_size 8GB
      flush_at_shutdown true
      flush_mode immediate
      retry_max_interval 5m
    </buffer>
  {{- range $key, $value := . }}
  {{ if eq $key "type" }}  @type {{ $value }}{{ else }}  {{ $key }} {{ $value }}{{ end }}
  {{- end }}
  </store>
{{- end }}
{{- end }}
{{- end }}
{{- end }}

<source>
  @type forward
  port 24224
  bind 0.0.0.0
</source>

<match docker.*>
  @type copy
  copy_mode deep

  # Default store (in case none specified)
  <store>
    @type null
  </store>

  # Start service-defined global storage
  {{ range services }}{{ if not .Parent }}
  {{ if .Metadata.GetValue "fluentd" }}{{ $fluentd := .Metadata.GetValue "fluentd" }}
  {{ if $fluentd.global }}{{ template "store" . }}{{ end }}
  {{ end }}{{ end }}{{ end }}
  # End service-defined global storage

</match>
