# Tail all docker container json logs
<source>
  @type tail
  path /var/lib/docker/containers/*/*-json.log
  pos_file /var/log/fluentd-docker.pos
  tag docker.*
  format json
  time_key time
  time_format %Y-%m-%dT%H:%M:%S.%NZ
</source>

# Attach container labels & other info
<filter docker.var.lib.docker.containers.**>
  @type docker
  container_id "${tag_parts[5]}"
</filter>

# Rewrite tag to docker.<container_name> for readability
<match docker.var.lib.docker.containers.**>
  @type rewrite_tag
  rewriterule1 container_name (.+) docker.$1
</match>

# Concat multiline messages
# (any line that starts with whitespace will be
# joined to the previous message)
<filter docker.*>
  @type concat
  @log_level warn
  key log
  use_first_timestamp true
  stream_identity_key container_id
  multiline_start_regexp /^\S+/
  timeout_label @DEFAULT
  separator ""
  flush_interval 2s
</filter>

# Relabel so that concat successes and timeouts
# end up in the same pipeline
<match docker.*>
  @type relabel
  @label @DEFAULT
</match>

<label @DEFAULT>
  <filter docker.*>
    @type expat
  </filter>

  <match docker.*>
    @type copy
    <store>
      @type custom_gelf
      host ${GRAYLOG_HOST}
      port ${GRAYLOG_PORT}
      mkey log
      flush_interval 5s
    </store>
  </match>
</label>
